body{
  font-family: Roboto,sans-serif

}
.container{
  height: 400px;
  width:960px;
  margin-left:auto;
  margin-right: auto;

  padding-top:20px;
}
.dart{
  height:400px;
  width:50%;
  background-color: gray;
  float: left;
}

.dart__image{
  margin-top: 0;
  height:400px;
  background-image: url("../images/darth.png");
  background-size: cover;

}

 .gradient__text{
   background: -webkit-linear-gradient(45deg,#eb3741, #eaee5d);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

.inner--container{
  width:430px;
  height:380px;
  margin-left:auto;
  margin-right: auto;

}
.dart__login{
  width:50%;
  height:400px;
  float: left;
  background-color: white;
}

.col--md-3{
  margin-left:auto;
  margin-right:auto;
  display: inline;
}

.form__header{
  width:300px;
  height:100px;
  background-color: white;
}

.form__title{
  float: left;
  margin-left:auto;
  margin-right: auto;
}
hr {
  margin-right: auto ;
  margin-left: auto;
}
//.form--white{
//  background-color: white;
//  background-size: cover;
//  width:inherit;
//  height: inherit;
//}

/*--------------------TOP SLIDER--------------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch__slider {
  background-color: #2196F3;
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch__slider.switch__round {
  border-radius: 34px;
}

.switch__slider.switch__round:before {
  border-radius: 50%;
}


/*------------------ other section -------------------------*/


.dart__paragraph{
}

.footers{
  float: left;
  margin-left: auto;
  margin-right:90px;
}
.footer__container{
  width:inherit;
  height:50px;
  background-color: aliceblue;
}
.btn__sub{
  width:300px;
  height:50px;
  margin-left: auto ;
  margin-right:auto;
  background-color: red;
  border-radius: 150px;
  border:none;
  margin-top: 15px;
}
$bg-blue: blue;
$bg-red:red;


input{
  border:none;
  height:20px;
}

.container__big{
  background-color: blue;
  height:500px;
  width: 1200px;
}