.container{
  height: 100%;
  width:960px;
  margin-left:auto;
  margin-right: auto;
}
.dart{
  height:400px;
  width:50%;
  background-color: gray;
  float: left;
}

.dart__image{
  height:400px;
  background-image: url('src/images/darth.png');
  background-size: cover;
}

.inner--container{
  width:430px;
  height:380px;
  margin-left:auto;
  margin-right: auto;

}
.dart__login{
  width:50%;
  height:400px;
  float: left;
  background-color: aquamarine;
}

.form__header{
  width:300px;
  height:100px;
  background-color: aqua;
}
.btn{
  height: 20px;
  width:50px;
}
.form__title,.btn{
  float: left;
  margin-left:auto;
  margin-right: auto;
}
hr {
  margin-right: auto ;
  margin-left: auto;
}
//.form--white{
//  background-color: white;
//  background-size: cover;
//  width:inherit;
//  height: inherit;
//}


.footers{
  float: left;
  margin-left: auto;
  margin-right:90px;
}
.footer__container{
  width:inherit;
  height:50px;
  background-color: aliceblue;
}
.btn__sub{
  width:150px;
  margin-left:140px;
  background-color: red;
  border-radius: 150px;
  border:none;
  margin-top: 15px;
}
$bg-blue: blue;
$bg-red:red;



